@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
}

header {
    font-family: 'Rock Salt', cursive;
    background-color: white;
    position: fixed;
    z-index: 99;
    width: 100vw;
}

#burguer {
    background-color: rgb(77, 75, 75);
    color: white;
    display: none;
    text-align: center;
}

main {
    width: 1050px;
    margin: auto;
    background-color: white;
}

h1, h2, h3 {
    font-family: 'Rock Salt', cursive;
}

p {
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    font-size: 20px;
}

.cabeçalho {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 50px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    font-size: 18px;
    color: black;
}

.container {
    width: 990px;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}

.banner-cbjr {
    width: 100%;
    height: 700px;
    position: absolute;
    top: 100px;
    background-image: url('imagens/banner-cbjr.png');
    background-position: center center;
    background-size: cover;
}

article {
    display: flex;
}

.bio-text {
    margin-top: 20px;
    width: 550px;
}

.polemicas {
    margin-top: 70px;
}

article img {
    width: 350px;
    height: 350px;
    margin: auto;
    margin-top: 70px;
}

article p, section p {
    text-align: justify;
    text-indent: 20px;
    margin: 10px;
}

section {
    display: flex;
}

section img {
    width: 300px;
    height: 300px;
    margin: auto;
}

.section-img {
    width: 450px;
    height: 450px;
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
}

aside {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

aside li {
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    font-size: 20px;
}

aside img {
    margin-top: 180px;
    margin-right: 100px;
    height: 300px;
    width: 300px;
}

.content {
    flex: 1;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 50px;
    font-weight: bold;
    font-style: italic;
    border-top: 1px solid rgba(0, 0, 0, 0.664);
}

@media screen and (max-width: 995px) {

    #burguer {
        display: none;
    }

    main {
        width: auto;
    }

    .container {
        width: auto;
    }

    .banner-cbjr {
        margin: auto;
    }

    nav ul li a {
        font-size: 16px;
    }

    article {
        flex-direction: column;
    }

    .bio-text {
        margin-top: 50px;
        width: auto;
    }

    article img {
        margin-left: 180px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .polemicas {
        flex-direction: column;
    }

    section img {
        width: 400px;
        margin-left: 140px;
    }

    .section-img {
        width: 800px;
        height: 300px;
        margin-top: 30px;
        margin-bottom: 50px;
        flex-direction: column;
    }

    .polemica-aviao {
        display: none;
    }

    aside {
        width: auto;
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    aside img {
        width: 350px;
        height: 350px;
        margin: auto;
    }

}

@media screen and (max-width: 740px) {
   
    #burguer {
        display: block;
        cursor: pointer;
        width: 50px;
        height: 25px;
        border-radius: 10px;
        text-align: center;
    }

    .cbjr-nome {
        display: none;
    }

    .cabeçalho {
        display: flex;
        justify-content: space-between;
        z-index: 1;
    }

    nav {
        display: none;
    }

    ul {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    article img {
       margin: auto;
    }

    .bio-text {
        margin-top: 20px;
    }

    .polemicas {
        margin-top: 20px;
    }

    section img {
        margin: auto;
       width: 350px;
       height: 300px;
       margin-left: 100px;
    }


}

@media screen and (max-width: 600px) {

    section img {
        margin: auto;
        width: 300px;
        height: 250px;
        margin-left: 50px;
    }

    footer {
        margin: auto;
        padding: 20px;
    }

    footer p {
        width: auto;
        margin: auto;
        font-size: 12px;
    }

    .content ul {
        font-size: 16px;
        text-align: left;
    }

    footer {
        display: flex;
        font-size: 26px;
    }

}